//@import 'abstracts/';

@import "components/header.scss", "components/footer.scss",
  "components/lodging_card.scss", "components/collapse.scss",
  "components/tags.scss", "components/slideshow.scss";

@import "layout/homelayout";

@import "base/home.scss", "base/404.scss", "base/about.scss",
  "base/lodging.scss";

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}
//@import 'vendors/';
