.collapseparent {
  display: flex;
  flex-direction: column;
}
.collapse {
  position: relative;
  z-index: 1;
  display: flex;
  width: 70%;
  height: 50px;
  background-color: #ff6060;
  border-radius: 10px;
  margin-left: 14%;
  padding-left: 1%;
  padding-right: 1%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.collapsetitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.arrowimage {
  cursor: pointer;
  transition: rotate 0.7s ease-in-out;
}
.arrow.open {
  rotate: -180deg;
}
.collapsecontent {
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: #f6f6f6;
  width: 70%;
  margin-left: 14%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: -45px;
  margin-bottom: 35px;
}

.collapsecontent p {
  margin-top: 25px;
  width: 97%;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.description {
  height: 0px;
  overflow: hidden;
  transition: height 0.7s ease-in-out;
}

.description.open {
  height: 160px; /* Hauteur souhaitée pour la description */
}

@media screen and (max-width: 600px) {
  .collapse {
    width: 87%;
    padding-left: 3%;
    margin-left: 5%;
  }
  
}
