.footer {
  position: relative;
  bottom: 0%;
  left: 0%;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: black;
  justify-content: center;
  min-height: 200px;
}
.footerlogo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6%;
}
.footerbottomtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 1100px) {
  .footerlogo {
    width: 12%;
  }
}

@media screen and (max-width: 600px) {
  .footerlogo {
    width: 30%;
  }
  .footerbottomtext {
    width: 25%;
    top: 60%;
    font-size: 10px;
  }
}
