.backgroundlodgingcontainer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}
.backgroundlodging {
  object-fit: cover;
  width: 90%;
  height: 420px;
  border-radius: 20px;
}

.prevarrow {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  left: 7%;
  top: 40%;
}
.nextarrow {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  right: 7%;
  top: 40%;
}
.imagenumber {
  position: absolute;
  top: 82%;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
