.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  border-radius: 8px;
  margin-right: 10px;
  width: 17%;
  height: 25px;
}

.tagtext {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
