.big404{

    padding-bottom: 90px;
    margin: 0;
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 288px;
    font-style:normal;
    font-weight: 700;
}
.text404{
    text-align: center;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}
.redirect404{
    padding-top: 90px;
    padding-bottom: 90px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    margin-bottom: 30px;
}