.big404 {
  padding-bottom: 90px;
  margin: 0;
  color: #ff6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
}
.text404 {
  text-align: center;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}
.redirect404 {
  padding-top: 90px;
  padding-bottom: 90px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration-line: underline;
  margin-bottom: 30px;
}

.errorpageparent {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .big404 {
    margin-top: 50px;
    font-size: 120px;
  }
  .text404 {
    padding-right: 5%;
    font-size: 20px;
  }
}
